In [1]:
#Dependencies
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import pandas as pd
from selenium import webdriver

In [9]:
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
#argument to switch off suid sandBox and no sandBox in Chrome 
chrome_options.add_argument("--no-sandbox")
chrome_options.add_argument("--disable-setuid-sandbox")
 
driver = webdriver.Chrome(chrome_options=chrome_options)
driver.get('https://redplanetscience.com')
print(driver.title)
driver.quit()

<ipython-input-9-c979473c4ca8>:7: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(chrome_options=chrome_options)

News - Mars Exploration Program

In [10]:
#setup splinter
executable_path = {'executable_path':ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\ravjo\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [29]:
[WBD] - Current google-chrome version is 96.0.4664
[WBD] - Get LATEST chromedriver version for 96.0.4664 google-chrome
[WBD] - Driver [C:\Users\ravjo\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

SyntaxError: invalid syntax (<ipython-input-29-b472e81acf75>, line 1)

In [ ]:
[WDM] - Driver has been saved in cache [C:\Users\ravjo\.wdm\drivers\chromedriver\chromediver_win32\96.0.4664.45\chromedriver.exe]

In [11]:
#connect to nasa website
url = 'https://redplanetscience.com'
browser.visit(url)

In [16]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Retrieve latest title
mars_news = soup.find('div', class_='content_title').text
print(mars_news)

NASA's Mars 2020 Rover Completes Its First Drive

In [17]:
#retrieve paragraph of article
mars_paragraph = soup.find("div", class_="article_teaser_body").text
print(mars_paragraph)

In a 10-plus-hour marathon, the rover steered, turned and drove in 3-foot (1-meter) increments over small ramps.

In [38]:
#connnect to image website
executable_path = {'executable_path':ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://spaceimages-mars.com/"
browser.visit(url)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\ravjo\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [52]:
html = browser.html
# parse html
image_soup = bs(html, 'html.parser')
# Retrieve featured image url
featured_image_url = image_soup.find('img', class_='headerimage fade-in').get('src')
featured_image_url

'image/featured/mars3.jpg'

In [56]:
#import table from url

mars_df = pd.read_html('https://galaxyfacts-mars.com/')[0]
mars_df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [57]:
#change headers and index values

mars_df.columns=['Description', 'Mars', 'Earth']
mars_df.set_index('Description', inplace=True)
mars_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [58]:
#convert to html
mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [63]:
# connect to websert 
url = 'https://marshemispheres.com/'

browser.visit(url)

In [64]:
# make list of urls
hemis_urls = []

#loop through page to retieve image urls and titles 
for hemis in range(4):
    # articles
    browser.links.find_by_partial_text('Hemisphere')[hemis].click()
    
    # parse the HTML and scrape
    html = browser.html
    hemi_soup = bs(html, 'html.parser')
    
    title = hemi_soup.find('h2', class_='title').text
    img_url = hemi_soup.find('li').a.get('href')
    
    # store dictionary and append to list
    hemispheres = {}
    hemispheres['img_url'] = f'https://marshemispheres.com/{img_url}'
    hemispheres['title'] = title
    hemis_urls.append(hemispheres)
    
    # repeat
    browser.back()

# quit browser
browser.quit()

In [65]:
# print image urls abd titles
hemis_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]